flask_sqlalchemy==2.3.2
flask_login==0.4.1
Flask==1.0.1
flask_wtf==0.14.2
flask_bootstrap==3.3.7.1
logging==0.4.9.6
Jinja2>=2.10
MarkupSafe==0.23
SQLAlchemy==0.9.9
Werkzeug>=0.14
gunicorn==19.3.0
itsdangerous==0.24
psycopg2-binary==2.7.4
flask_migrate
requests
