{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}RNN Engineering{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used:   #}
{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>

     {# do not forget to call super or Bootstrap's own stylesheets will disappear! {{super()}} #}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/fonts/glyphicons-halflings-regular.woff2"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.min.css"/>


    <!-- <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css"> -->
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
<!-- Split button -->

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      {% if current_user.is_anonymous %}
      <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon"></span>
          RNN-Eng
      </a>
      {% else %}
      <a class="navbar-brand" href="/">
        <span class="glyphicon glypicon"></span>
        RNN-Eng Home - {{ current_user.username }}
      </a>
      {% endif %}
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="{{ url_for('index') }}">Home</a></li>
       {% if current_user.is_anonymous %}
       <li><a href="{{ url_for('login') }}">Login</a></li>
       {% else %}
       <li><a href="{{ url_for('logout') }}">Logout</a></li>
       {% endif %}
     </ul>
  </nav>
</div>
{% endblock %}
